In [4]:
import pandas as pd
import csv as csv
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv("train.csv").replace("male", 0).replace("female", 1)
df["Age"].head()
#欠損処理 by median
df["Age"].fillna(df.Age.median(), inplace = True)
df["Age"].head()
df["FamiliySize"] = df["SibSp"] + df["Parch"] + 1 #Familiysizeを親族＋子供の数＋本人で算出。同部屋の可能性などを探る。
df_dropped = df.drop(["Name", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked", "PassengerId"], axis = 1)#関係ない奴、Familysizeに統合された奴は省いたDf作成。
df_dropped.head()

   Survived  Pclass  Sex   Age  FamiliySize
0         0       3    0  22.0            2
1         1       1    1  38.0            2
2         1       3    1  26.0            1
3         1       1    1  35.0            2
4         0       3    0  35.0            1